.desktopThirdLevel__listContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 8px;
  padding: 0;
  list-style: none;
}

.desktopThirdLevel__listElement {
  cursor: pointer;
}

.desktopThirdLevel__listElement:hover > .desktopThirdLevel__listLink {
  color: #ec6608;
}

.desktopThirdLevel__listLink {
  color: #565656;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}



