.desktopMenu__trigger {
  display    : flex;
  align-items: center;
  gap        : 6px;
}

.desktopMenu__trigger img {
  width: 30px;
}

.desktopMenu__trigger p {
  margin     : 0;
  font-size: 1.3rem;
  font-weight: 900;
  color      : #fff;
}

.desktopMenu__headerContainer {
  display           : flex;
  width             : 100%;
  height            : 67px;
  padding           : 15px 15px 15px 0;
  background-color  : #ec6608;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow   : 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow        : 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.desktopMenu__headerContainerActive {
  margin-right: 3px;
}

.desktopMenu__headerLogo {
  width: 300px;
  cursor: pointer;
}

.drawer {
  width           : auto !important;
  max-width       : none !important;
  min-width       : auto !important;
  background-color: #fff;
}

.openIconContainer {
  padding: 0;
}

.drawerHeader {
  position        : sticky;
  top             : 0;
  background-color: #ec6608;
}

.drawerContent {
  height        : 100%;
  display       : flex;
  flex-direction: column;
}

.drawerContent::-webkit-scrollbar {
  width           : 2px !important;
  background-color: #eee !important;
}

.drawerContent::-webkit-scrollbar-thumb {
  width           : 2px !important;
  background-color: #565656 !important;
}

.desktopMenu__closeButton {
  display    : flex;
  align-items: center;
}

.closeIconButton {
  width  : 25px;
  padding: 0;
  display: flex;
  border: none;
}

.desktopMenu__contentContainer {
  width: 100%;
}

.desktopMenu__contentContainerActive {
  margin-right      : 3px;
  -webkit-box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow   : 0px -4px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow        : 0px -4px 3px 0px rgba(0, 0, 0, 0.15);
}

.desktopMenu__contentContainerExample {
  display         : none;
  width           : 100px;
  height          : 100%;
  position        : absolute;
  right           : -100px;
  top             : 0;
  background-color: #fff;
}

.desktopMenu__footerContainer {
  width           : 100%;
  padding         : 0 30px;
  background-color: #fff;
}

.desktopMenu__footerList {
  display       : flex;
  flex-direction: column;
  gap           : 10px;
  margin        : 0;
  padding       : 15px 0;
  list-style    : none;
  border-top    : solid 1px #cacbcc;
}

.desktopMenu__footerList li {
  padding-left: 18px;
}

.desktopMenu__footerLink {
  display        : flex;
  align-items    : center;
  gap            : 10px;
  width          : 100%;
  cursor         : pointer;
  text-decoration: none;
}

.desktopMenu__footerLink:hover>h4 {
  color: #ec6608;
}

.desktopMenu__footerLink h4 {
  margin     : 0;
  font-size  : 18px;
  font-weight: 600;
  line-height: 1.5;
  color      : #565656;
}

.desktopMenu__footerLink img {
  width : 28px;
  height: 28px;
}

.desktopMenu__footerLink .desktopMenu__footerLinkOrders {
  width : 28px;
  height: 22px;
}
